/* #editableDiv{
    display:grid;
    /* flex-direction:row;
    flex-grow: initial; */
    /* grid-template-columns: auto auto auto auto auto; */
/* } */ 
/* h1{
    text-align:center
} */

/* @media (min-width: 576px) { 
    #editableDiv{
        display:grid;
        grid-template-columns:auto;
    }
}

@media (min-width: 768px) {
    #editableDiv{
        display:grid;
        grid-template-columns:auto auto auto auto;
    }
}
@media (min-width: 992px) { 
    #editableDiv{
        display:grid;
        grid-template-columns:auto auto auto auto auto;
    }
} */

input{
    border-radius: 50px;
    height:auto;
}
button{
    border-radius:50px;
    
}
h1{
    color:lightslategrey
}
#input-block-div{
    margin:10px;
}